:root {
    --cor-negao-principal: #0084ff;
}

webkit-scrollbar-track {
    background-color: #f4f4f4;
}

 ::-webkit-scrollbar {
    width: 6px;
    background: #2f2c2c;
}

 ::-webkit-scrollbar-thumb {
    background: #0084ff;
}

body {
    background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(imgs/nackgro.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: deepskyblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.logoff {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.logoff::after {
    content: '';
    width: 0%;
    height: 2px;
    background: deepskyblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.logoff:hover::after {
    width: 100%;
}

.textbox {
    color: white;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textbox h1 {
    font-size: 62px;
}

.textbox p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid deepskyblue;
    background: deepskyblue;
    transition: 1s;
}

nav .fas {
    display: none;
}

@media(max-width:700px) {
    .textbox h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: deepskyblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fas {
        margin: 10px;
        display: block;
        color: white;
        cursor: pointer;
        font-size: 22px;
    }
    .nav-links ul {
        padding: 30px;
    }
}


/* Sobre */

.sobre {
    border-top: deepskyblue solid 5px;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: deepskyblue;
    font-size: 36px;
    font-weight: 600;
}

.h2linha {
    font-size: 25px;
}

.plinha {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
}

.missao {
    background: rgb(135, 255, 255);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    flex-basis: 31%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.gifs {
    width: 100%;
    height: 50%;
    max-width: 360px;
    max-height: 360px;
    align-items: center;
}

.visao {
    background: rgb(135, 227, 255);
    border-radius: 10px;
    margin-bottom: 5%;
    flex-basis: 31%;
    padding: 20px 12px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.valores {
    background: rgb(135, 201, 255);
    border-radius: 10px;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.linha {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.caixa {
    transition: 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.caixa:hover {
    box-shadow: 0 0 20px 0px rgba(77, 219, 255, 0.7);
}

@media(max-width:700px) {
    .linha {
        flex-direction: column;
    }
}


/* Anime */

.anime {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.linha_2 {
    justify-content: center;
    display: flex;
    flex-basis: 32%;
}


/* Banner naruto */

.naruto {
    width: 50%;
    flex-basis: 32%;
    margin-right: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.naruto img {
    width: 100%;
}

.layer {
    background: transparent;
    transition: 0.6s;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.layer:hover {
    background: rgb(255, 115, 0, 0.5);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.6s;
}

.layer:hover h3 {
    bottom: 70%;
    opacity: 1;
}

.layer p {
    width: 100%;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 26px;
    bottom: 0;
    left: 40%;
    transform: translateX(-40%);
    position: absolute;
    opacity: 0;
    transition: 0.6s;
}

.layer:hover p {
    bottom: 40%;
    opacity: 1;
}


/* BANNER ONEPICE */

.onepiece {
    width: 50%;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.onepiece img {
    height: 100%;
    width: 100%;
    display: block;
}

.layer2 {
    background: transparent;
    transition: 0.6s;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.layer2:hover {
    background: rgba(0, 217, 255, 0.5);
}

.layer2 {
    background: transparent;
    transition: 0.6s;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.layer2:hover {
    background: rgba(0, 217, 255, 0.5);
}

.layer2 h3 {
    width: 100%;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.6s;
}

.layer2:hover h3 {
    bottom: 70%;
    opacity: 1;
}

.layer2 p {
    width: 100%;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 26px;
    bottom: 0;
    left: 40%;
    transform: translateX(-40%);
    position: absolute;
    opacity: 0;
    transition: 0.6s;
}

.layer2:hover p {
    bottom: 40%;
    opacity: 1;
}


/*Cadastro */

.cadastro_page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.cadastro_header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(imgs/cadastro.jpg);
}

.form_cadastro {
    position: relative;
    z-index: 1;
    background: rgb(0, 0, 0, 0.5);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
}

.form_cadastro input {
    outline: 1;
    background-color: #000000;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 5px;
    color: deepskyblue;
}

.butao {
    text-transform: uppercase;
    outline: 0;
    background: black;
    width: 100%;
    color: deepskyblue;
    border: 0;
    padding: 15px;
    font-size: 13px;
    cursor: crosshair;
    border-radius: 5px;
}

.butao:hover {
    color: black;
    border: 1px solid deepskyblue;
    background: deepskyblue;
    transition: 1s;
}

.link {
    background: transparent;
    border: 0;
    color: deepskyblue;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
    text-decoration: none;
    font-size: 14px;
}

link:hover {
    color: black;
    border: 1px solid deepskyblue;
    background: deepskyblue;
    transition: 1s;
}

.mensagem2 {
    font-size: 16px;
    color: deepskyblue;
}


/* Pagina de login */

.login_header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(imgs/braçosshanks.png);
}

.login_page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.loginform {
    position: relative;
    z-index: 1;
    background: rgb(0, 0, 0, 0.5);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
}

.loginform input {
    outline: 1;
    background-color: #000000;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 5px;
    color: deepskyblue;
}

.butao {
    text-transform: uppercase;
    outline: 0;
    background: black;
    width: 100%;
    color: deepskyblue;
    border: 0;
    padding: 15px;
    font-size: 13px;
    cursor: crosshair;
    border-radius: 5px;
}

.butao:hover {
    color: black;
    border: 1px solid deepskyblue;
    background: deepskyblue;
    transition: 1s;
}

.link {
    background: transparent;
    border: 0;
    color: deepskyblue;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
    text-decoration: none;
    font-size: 14px;
}

link:hover {
    color: black;
    border: 1px solid deepskyblue;
    background: deepskyblue;
    transition: 1s;
}

.mensagem {
    font-size: 16px;
    color: deepskyblue;
}


/* historia */

.historia {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.linha_3 {
    margin-top: 50px;
    display: flex;
    flex-basis: 32%;
}

.img_hist {
    margin-left: 50px;
    width: 50%;
}

.missao1 {
    color: deepskyblue;
    margin-left: 100px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    flex-basis: 31%;
}

.missao1 p {
    text-align: justify;
    color: white;
    font-size: 15px;
    font-weight: 550;
}


/*------------------------- dashboard/publicação ------------------------ */

.header-publi {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/itachi.jpg);
}

.dashboard {
    text-align: center;
    width: 100%;
    height: 60vh;
    padding-top: 50px;
    display: flex;
    overflow: auto;
    align-items: center;
}

.feed {
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.678);
    margin: auto;
    width: 80%;
    font-size: 20px;
    display: flex;
    justify-content: start;
}

.titulo-h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.dashboard .container1 {
    margin: auto;
    z-index: 1;
    width: 80%;
}

.container-form {
    width: 80%;
    margin: auto;
}

.dashboard .textarea-padrao {
    resize: none;
    display: inline-block;
    background-color: #000000;
    color: #0084ff;
    border: 2px solid deepskyblue;
    width: 100%;
    font-size: 20px;
}

.box-login {
    display: inline-block;
    background-color: white;
    box-shadow: 3px 3px 5px 2px #ccc;
    padding: 60px 20px 0px 20px;
    border-radius: 20px;
    width: 400px;
}

#form_publicar {
    display: flex;
    justify-content: center;
}

.btn-publi {
    text-transform: uppercase;
    outline: 0;
    background: black;
    width: 20%;
    color: deepskyblue;
    border: 0;
    padding: 15px;
    font-size: 13px;
    cursor: crosshair;
    border-radius: 5px;
}


/* EXTRA */

.extra {
    margin: 10px;
}

.extra img {
    height: 50px;
    visibility: hidden;
}

.extra .msg_erro {
    background-color: sandybrown;
    color: black;
    visibility: hidden;
}

.card {
    border: 1px solid red;
    border-radius: 10px;
    display: block;
    width: 35%;
    margin: 10px 7%;
    height: 160px;
    float: left;
    text-align: center;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 5px 2px #ccc;
}


/* extra */

.show-on-hover {
    color: #232323
}

.show-on-hover:hover {
    color: white
}

.publicacao {
    margin-left: 5px;
    color: deepskyblue;
    width: 50%;
    display: block;
    padding: 5px;
    text-align: left;
    margin-bottom: 10px;
}

.nome {
    float: left;
    color: deepskyblue;
    font-weight: bold;
    /* border: 1px solid rgb(255, 95, 37); */
}

.descricao {
    height: auto;
    width: auto;
    margin-left: 13%;
}

.botao {
    text-transform: uppercase;
    outline: 0;
    background: black;
    width: 100px;
    color: deepskyblue;
    border: 0;
    padding: 15px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
}

.botao:hover {
    color: black;
    border: 1px solid deepskyblue;
    background: deepskyblue;
    transition: 1s;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: rgb(31, 30, 30);
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: deepskyblue;
}

i {
    width: 20px;
    color: rgb(255, 255, 255);
}


/* PAGINA SOBRE NARUTO */

.sobre_naruto {
    border-top: orangered solid 5px;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.h1naruto {
    color: orangered;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.missao_naruto {
    background: orangered;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: justify;
    font-weight: 600;
    color: white;
}

.visao_naruto {
    background: black;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    color: white;
    text-align: justify;
    font-size: 17px;
}

.visao_naruto h3 {
    margin-top: 10px;
    font-size: 25px;
}

.linha_naruto {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.h2naruto {
    color: white;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.pnaruto {
    color: white;
    font-size: 20px;
}

.caixa {
    transition: 0.8s;
}

.caixa:hover {
    box-shadow: 0 0 20px 0px rgba(85, 85, 85, 0.7);
}

.naruto_header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(imgs/narutobanner.jpg);
}


/* ARCOS NAruto */

.arcos {
    border-top: orangered solid 5px;
    width: 85%;
    margin: auto;
    padding-top: 100px;
}

.arcos_caixa {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    color: white;
    float: left;
    width: 55%;
    height: 100%;
    font-size: 20px;
    text-align: justify;
}

.arcos-naruto {
    margin: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.img_arco {
    width: 40%;
    height: 400px;
}

.container2 {
    margin-top: 10px;
    padding: .5em;
    border-bottom: orangered solid 4px;
}

.arcos_caixa h3 {
    margin-bottom: 8px;
    text-align: center;
    color: orangered;
}


/* onepiece */

.onepiece_header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(imgs/banner3.jpg);
}

.h1onep {
    color: dodgerblue;
}

.sobre_onep {
    border-top: dodgerblue solid 5px;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.h1onep {
    color: dodgerblue;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.missao_onep {
    background: dodgerblue;
    text-align: justify;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    font-weight: 600;
    color: white;
    font-size: 18px;
}

.missao_onep p {
    margin: 1em;
}

.visao_onep {
    background: black;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    color: dodgerblue;
    font-size: 20px;
    font-weight: 500;
}

.visao_onep p {
    margin-top: 30px;
}

.linha_naruto {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.h2onep {
    color: dodgerblue;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.visao_onep h3 {
    margin-bottom: 6px;
    font-size: 25px;
    color: dodgerblue;
}

.imgcuri {
    width: 25%;
    height: 25%;
}


/* ARCOS ONEPIECE */

.arcosonep {
    border-top: dodgerblue solid 5px;
    width: 85%;
    margin: auto;
    padding-top: 100px;
}

.arcos_one {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    width: 55%;
    height: 100%;
    font-size: 20px;
    text-align: justify;
}

.img_arco {
    width: 40%;
    height: 400px;
}

.containerone {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 2em;
    border-bottom: dodgerblue solid 4px;
    justify-content: space-between;
}

.arcos_one h3 {
    text-align: center;
    color: dodgerblue;
}

.ponep {
    text-align: center;
    padding: 2em;
}

.ponep p {
    margin: 1em;
}

.ponep h3 {
    margin: 0;
}

.votacao {
    margin: auto;
    width: 80%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.containervt {
    padding: 2em;
    text-align: center;
    border-radius: 4px;
    position: relative;
    width: 50%;
}

.imgvt {
    position: relative;
    height: 50%;
    width: 50%;
    padding: 2em;
}

.voting {
    position: relative;
    border: 1px solid #0084ff;
    border-radius: 4px;
    padding: 2em;
    display: flex;
    justify-content: center;
}

.input1 {
    width: 50px;
    border: none;
    background: none;
    color: #919191;
    font-size: 30px;
    margin: 0 10px;
    pointer-events: none;
}

.voting button {
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 2em;
    cursor: pointer;
}

.voting button:active {
    transform: scale(1.4);
}

.header_graficos {}